* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;      /* Centra verticalmente */
  height: 100vh;            /* Ocupa toda la altura de la ventana */
  background-image: url('fondo.jpg'); /* tu fondo personalizado */
  background-size: cover;
  background-position: center;
  margin: 0; /* elimina espacios por defecto */
}

textarea.control {
  width: 100%;
  height: 120px;
  resize: vertical;
}

textarea.control label {
  width: 150px; /* ajusta a lo que necesites */
  font-weight: bold;
}

h1{
  text-align: center;
  margin-bottom:20px;
  color: #333;
}

.container {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow : 0px 4px 10px rgba(0,0,0,0.1)
}

.form-group {
  display: flex;
  align-items: center;      /* Alinea verticalmente */
  margin-bottom: 20px;      /* Espacio entre campos */
}

.form-group label {
  width: 150px; /* ajusta a lo que necesites */
  font-weight: bold;
}

.form-group input,
.form-group select {
  flex: 1;                  /* Ocupa todo el espacio restante */
  padding: 6px 8px;
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background: #0033A0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
